{% extends 'login/base.html' %}
{% load staticfiles %}
{% block title %}福利题{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/tests.css' %}">
{% endblock %}

{% block navigate %}
<ul class="nav navbar-nav">
    <li><a href="/">主页</a></li>
    <li class="active"><a href="/tests">福利题</a></li>
    <li><a href="/application">报名表</a></li>
</ul>
{% endblock navigate %}

{% load mytags %}

{% block content %}
<div class="container">
    <div class='row'>
        <div class="col-md-6 col-md-offset-3">
            <h1 class="text-center">福利题</h1>


            <h2 class="text-center">提醒一下大家，写完题记得保存鸭！</h2>
            <form class='form-login' action="/tests" id="answer" method="post">
                {{ formset.management_form }}
                {% csrf_token %}
                {% if message %}
                <div class="alert alert-warning">{{ message }}</div>
                {% endif %}

                <div class="panel-group" id="accordion">
                    <h3>技术部(点击标题展开对应组的题目)</h3>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    科研组
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">

                            <div class="panel-body">
                                {% for form in formset %}
                                {% ifequal form.auto_id|f1 '科研' %}
                                <div class="form-group">
                                    <label>{{ form.label }} </label>
                                    <span class="help-block">
                                        {{ form.help_text|markdown|safe}}
                                    </span>
                                    {% if form.auto_id not in dis %}
                                    {{form}}
                                    {% endif %}
                                </div>
                                {% endifequal %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>



                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    硬件组
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">

                            <div class="panel-body">
                                {% for form in formset %}
                                {% ifequal form.auto_id|f1 '硬件' %}
                                <div class="form-group">
                                    <label>{{ form.label }} </label>
                                    <span class="help-block">
                                        {{ form.help_text|markdown|safe}}
                                    </span>
                                    {% if form.auto_id not in dis %}
                                    {{form}}
                                    {% endif %}
                                </div>
                                {% endifequal %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    ACM <a href="https://www.xdmsc.club/somehelp">点我查看帮助
                                    </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">

                            <div class="panel-body">
                                {% for form in formset %}
                                {% ifequal form.auto_id|f1 'ACM' %}
                                <div class="form-group">
                                    <label>{{ form.label }} </label>
                                    <span class="help-block">
                                        {{ form.help_text|markdown|safe}}
                                    </span>
                                    {% if form.auto_id not in dis %}
                                    {{form}}
                                    {% endif %}
                                </div>
                                {% endifequal %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                    Game组
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">

                            <div class="panel-body">
                                {% for form in formset %}
                                {% ifequal form.auto_id|f1 'Game' %}
                                <div class="form-group">
                                    <label>{{ form.label }} </label>
                                    <span class="help-block">
                                        {{ form.help_text|markdown|safe}}
                                    </span>
                                    {% if form.auto_id not in dis %}
                                    {{form}}
                                    {% endif %}
                                </div>
                                {% endifequal %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                    应用数学组
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse">

                            <div class="panel-body">
                                {% for form in formset %}
                                {% ifequal form.auto_id|f1 '应用数学' %}
                                <div class="form-group">
                                    <label>{{ form.label }} </label>
                                    <span class="help-block">
                                        {{ form.help_text|markdown|safe}}
                                    </span>
                                    {% if form.auto_id not in dis %}
                                    {{form}}
                                    {% endif %}
                                </div>
                                {% endifequal %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                                    web组
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse">

                            <div class="panel-body">
                                {% for form in formset %}
                                {% ifequal form.auto_id|f1 'web' %}
                                <div class="form-group">
                                    <label>{{ form.label }} </label>
                                    {{ form.help_text|markdown|safe}}

                                    {% ifequal form.auto_id 'id_web_31'%}
                                    <!-- flag{learn_t0_use_f12} -->
                                    {% endifequal %}

                                    {% if form.auto_id not in dis %}
                                    {{form}}
                                    {% endif %}

                                </div>
                                {% endifequal %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                </div>
                <h3>媒体部</h3>
                {% for form in formset %}
                {% ifequal form.auto_id|f1 '媒体部' %}
                <div class="form-group">
                    <label>{{ form.label }} </label>
                    <span class="help-block">
                        {{ form.help_text|markdown|safe}}
                    </span>
                    {% if form.auto_id not in dis %}
                    {{form}}
                    {% endif %}
                </div>
                {% endifequal %}
                {% endfor %}

                <h3>活动部</h3>
                {% for form in formset %}
                {% ifequal form.auto_id|f1 '活动部' %}
                <div class="form-group">
                    <label>{{ form.label }} </label>
                    <span class="help-block">
                        {{ form.help_text|markdown|safe}}
                    </span>
                    {% if form.auto_id not in dis %}
                    {{form}}
                    {% endif %}
                </div>
                {% endifequal %}
                {% endfor %}


                <button type="reset" class="btn btn-default pull-left">重置</button>
                <button type="submit" class="btn btn-primary pull-right ">保存</button>
            </form>
        </div>
    </div>
</div> 


{% endblock content %}